<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elab_yang.mmk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--메인-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--기본 장치 선택-->
        <activity
            android:name=".activity.DeviceScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--투약기 스캔 액티비티-->
        <activity
            android:name=".activity.NeedleScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--투약기 서비스연결 액티비티-->
        <activity
            android:name=".activity.DeviceControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--투약기 서비스 연결 액티비티-->
        <activity
            android:name=".activity.AutoReceiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--BLE DATA RECEIVE, SET DB-->
        <activity
            android:name=".activity.ReceiveDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--VIEW INSULIN-->
        <activity
            android:name=".activity.ViewInsulinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--사용 인슐린 설정 액티비티-->
        <activity
            android:name=".activity.SettingInsulinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--2개의 인슐린 사용자 설정 액티비티-->
        <activity
            android:name=".activity.TwoInsulinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!--호구조사-->
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--VIEW DATABASE-->
        <activity
            android:name=".activity.DataBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--환경설정-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--BLE서비스-->
        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />

    </application>

</manifest>